.header {
  background: #3c4c6c;
  margin-bottom: 2rem;

  &__wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.085rem;

    &__logo {
      align-items: center;
      color: white;
      display: flex;
      font-weight: 500;
      white-space: nowrap;

      img {
        height: 26px;
        margin: 0 0.5rem 0 0;
        width: 26px;
      }
    }
  }
}
